<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ubah User Baru</h1>
    <form th:action="@{/nilai/update/${pengguna.getId()}}" method="post" th:object="${pengguna}"> 
      <table width="600px">
        <tr>
          <td width="150">Nim</td>
          <td>
            <input type="text" th:field="*{nimMahasiswa}" required>
          </td>
        </tr>
  
        <tr>
          <td width="150">NAMA</td>
          <td>
            <input type="text" th:field="*{namaMahasiswa}" required>
          </td>
        </tr>
  
        <tr>
          <td width="150">ALAMAT</td>
          <td>
            <input type="text" th:field="*{alamat}" required>
          </td>
        </tr>
  
        <tr>
          <td width="150">JK</td>
          <td>
            <input type="text" th:field="*{jenisKelamin}" required>
          </td>
        </tr>
  
        <tr>
          <td width="150">JURUSAN</td>
          <td>
            <input type="text" th:field="*{jurusan}" required>
          </td>
        </tr>
  
        <tr>
          <td width="150">MATKUL</td>
          <td>
            <input type="text" th:field="*{matkul}" required>
          </td>
        </tr>
  
        <tr>
          <td width="150">KELAS</td>
          <td>
            <input type="text" th:field="*{kelas}" required>
          </td>
        </tr>
  
        <tr>
          <td width="150">NILAI</td>
          <td>
            <input type="text" th:field="*{nilai}" required>
          </td>
        </tr>
  
          <td></td>
          <td>
            <button type="submit">
              Simpan
            </button>
          </td>
        </tr>
      </table>
    </form>
</body>
</html>