<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form Handling</title>
</head>
<body>
  <form method="post" th:action="@{/store}" th:object="${pendaftaran}">
    <label>Nama :</label>
    <input type="text" th:field="*{NamaMahasiswa}" />
    <br>
    <button type="submit">Daftar</button>
  </form>
</body>
</html>